<PageTitle>CTA Home</PageTitle>

<Div Class="background-image">
    <Row Margin="Margin.Is3.FromBottom">
        <Column ColumnSize="ColumnSize.Is12">
            <Heading Size="HeadingSize.Is1">
                <Icon Name="IconName.Bookmark" IconSize="IconSize.Large" TextColor="TextColor.Info" IconStyle="IconStyle.Regular"></Icon> FSXXI Contracts Tracker Application
            </Heading>
        </Column>
    </Row>
    <Divider></Divider>
    <Row Margin="Margin.Is3">
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
            <Paragraph>
                Welcome to the Contract Actions and Log Tracker, a system for centralization of FSXXI contract correspondence.
                GDIT records correspondence into this database to manage contractual issues and suspense dates associated with contract correspondence
                with the Government and Sub-Contractors.
            </Paragraph>
        </Column>
    </Row>
    <Row Margin="Margin.Is3">
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
            <Text TextWeight="TextWeight.Bold">
                Users of this system have the following Responsibilities:
            </Text>
        </Column>
    </Row>
    <Row Margin="Margin.Is3.FromStart.Is3.FromBottom">
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop">
            <Text>
                Protect Confidentiality of Information and Data contained in this system
                Refrain from entering information or links to documents containing information relating to any of the following:
            </Text>
        </Column>
    </Row>
    <Row Margin="Margin.Is5.FromStart">
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
            <Text>
                <Icon Name="IconName.DotCircle" IconSize="IconSize.ExtraSmall"></Icon>
                Performance Based Payments
            </Text>
        </Column>
    </Row>
    <Row Margin="Margin.Is5.FromStart">
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
            <Text>
                <Icon Name="IconName.DotCircle" IconSize="IconSize.ExtraSmall"></Icon>
                Cost or Pricing data
            </Text>
        </Column>
    </Row>
    <Row Margin="Margin.Is5.FromStart">
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
            <Text>
                <Icon Name="IconName.DotCircle" IconSize="IconSize.ExtraSmall"></Icon>
                Invoices
            </Text>
        </Column>
    </Row>
    <Row Margin="Margin.Is5.FromStart">
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
            <Text>
                <Icon Name="IconName.DotCircle" IconSize="IconSize.ExtraSmall"></Icon>
                Classified Data
            </Text>
        </Column>
    </Row>
</Div>