<div class="row">
    <div class="col-md-1">
        <MudSelect T="int" Label="Page Length" AnchorOrigin="Origin.BottomCenter">
            <MudSelectItem Value="10" />
            <MudSelectItem Value="20" />
            <MudSelectItem Value="50" />
        </MudSelect>
    </div>
</div>

@code {

    [Parameter]
    public int PageLength { get; set; }

    [Parameter]
    public EventCallback<string> OnValidSubmit { get; set; }

}
