@inject ITrackingRepo _trackingRepo


<Row Margin="Margin.Is3.FromBottom">
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop" TextAlignment="TextAlignment.Center">
        <StatusRadioComponent @bind-StatusValue="_statusValue"></StatusRadioComponent>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop" TextAlignment="TextAlignment.Center">
        <ToFromRadioComponent @bind-ToFromValue="_toFromValue"></ToFromRadioComponent>
    </Column>
</Row>
<Row Margin="Margin.Is3.FromBottom">
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is1.OnDesktop" TextAlignment="TextAlignment.End">
        Subject: 
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop" TextAlignment="TextAlignment.Start">
        <TextEdit Placeholder= "Enter Subject to Search" @bind-Text="_subjectText"></TextEdit>
    </Column>
</Row>
<Row Margin="Margin.Is3.FromBottom">
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is1.OnDesktop" TextAlignment="TextAlignment.End">
        Comments: 
    </Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnDesktop" TextAlignment="TextAlignment.Start">
        <TextEdit Placeholder= "Enter Comments to Search" @bind-Text="_commentsText"></TextEdit>
    </Column>
</Row>
<Row>
    <Column>
        <Button Clicked="OnSearchButtonClicked" Color="Color.Primary">SEARCH</Button>
    </Column>
</Row>

@code {
    private int _toFromValue = 0;
    private int _statusValue = -1;
    private string? _subjectText { get; set; }
    private string? _commentsText { get; set; }

    TrackingFilter? _trackingFilter = new();

    [Parameter]
    public EventCallback<string> FilterValuesChanged { get; set; }

    public async Task OnSearchButtonClicked()
    {
        await SetTrackingFilterValues();
        var encodedString = await SerializeAndEncode.ObjectToJsonAndEncode(_trackingFilter);
        await FilterValuesChanged.InvokeAsync(encodedString);
    }

    private Task SetTrackingFilterValues()
    {
        //_trackingFilter = new();
        _trackingFilter.CommentsText =  _commentsText;
        _trackingFilter.SubjectText = _subjectText;
        _trackingFilter.ToFromIds = new int[] { _toFromValue };
        _trackingFilter.StatusIds = new int[] { _statusValue };
        return Task.CompletedTask;
    }
    
}