@page "/admin"

<h3>
    <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Large" Class="m-3" />
    Admin Page
</h3>

<div class="m-5">
    <a href="/pocs" class="btn btn-warning">
        <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Small" Class="m-3" />
        Manage POCs
    </a>
</div>