@page "/admin"

<Heading Size="HeadingSize.Is3" Margin="Margin.Is4.FromBottom">
    <Icon Name="IconName.Dashboard"></Icon>
    <Text Padding="Padding.Is2">Admin Page</Text>
</Heading>

<div class="m-5">
    <a href="/pocs" class="btn btn-warning">
        <Icon Name="IconName.UserFriends"></Icon>
        Manage POCs
    </a>
</div>