@page "/search"


<h3>
    <MudIcon Icon="@Icons.Material.Filled.Search" Size="Size.Large" Class="m-3" />
    Search
</h3>

<SearchComponent OnValidSubmit="DrawTable"></SearchComponent>

@if (appStateComponent is not null && appStateComponent.IsSet == true)
{
    <TrackingReportComponent></TrackingReportComponent>
}

@code {

    [CascadingParameter]
    public AppStateComponent? appStateComponent { get; set; }

    void DrawTable()
    {
        if(appStateComponent is not null)
            appStateComponent.IsSet = true;
    }
}