@page "/search"


<h3>
    <MudIcon Icon="@Icons.Material.Filled.Search" Size="Size.Large" Class="m-3" />
    Search
</h3>

<SearchComponent OnValidSubmit="DrawTable"></SearchComponent>

@if (_filtersSet == true)
{
    <TrackingReportComponent></TrackingReportComponent>
}

@code {

    private bool _filtersSet { get; set; } = false;

    void DrawTable()
    {
        _filtersSet = true;
    }
}