@page "/search"


<h3>
    <MudIcon Icon="@Icons.Material.Filled.Search" Size="Size.Large" Class="m-3" />
    Search
</h3>

<SearchComponent OnValidSubmit="UpdateString"></SearchComponent>

@if (encodedString != string.Empty)
{
    <TrackingReportComponent EncodedString="@encodedString"></TrackingReportComponent>
}

@code {

    private string encodedString { get; set; } = string.Empty;

    private void UpdateString(string _encodedString)
    {
        encodedString = _encodedString;
    }
}