@page "/search"


<h3>
    <MudIcon Icon="@Icons.Material.Filled.Search" Size="Size.Large" Class="m-3" />
    Search
</h3>

<SearchComponent OnValidSubmit="DrawTable"></SearchComponent>

@if (appStateComponent is not null && appStateComponent.IsSet == true)
{
    <TrackingReportComponent></TrackingReportComponent>
}

@code {

    [CascadingParameter]
    public AppStateComponent? appStateComponent { get; set; }

    void DrawTable()
    {
        if(appStateComponent is not null)
            appStateComponent.IsSet = true;
    }

    protected override async Task OnInitializedAsync()
    {
        if(appStateComponent is not null && appStateComponent.TrackingFilter is not null)
        {
            await Task.Run(() =>  appStateComponent.TrackingFilter.PocIds = null);
            await Task.Run(() =>  appStateComponent.TrackingFilter.StatusIds = null);
            await Task.Run(() =>  appStateComponent.TrackingFilter.ToFromIds = null);
        }
    }
}