@page "/search"


<h3>
    <MudIcon Icon="@Icons.Material.Filled.Search" Size="Size.Large" Class="m-3" />
    Search
</h3>

<SearchComponent OnValidSubmit="UpdateString"></SearchComponent>

@if (encodedString != string.Empty)
{
    <TrackingReportComponent EncodedString="@encodedString"></TrackingReportComponent>
}

@code {

    [CascadingParameter]
    public AppStateComponent? appStateComponent { get; set; }

    private string encodedString { get; set; } = string.Empty;

    private async Task UpdateString(bool searchSubmitted)
    {
        appStateComponent.AddTrackingFilterToRequest();
        encodedString = await SerializeAndEncode.ObjectToJsonAndEncode(@appStateComponent.PaginationQuery);
    }
}