@page "/search"


<h3>
    <MudIcon Icon="@Icons.Material.Filled.Search" Size="Size.Large" Class="m-3" />
    Search
</h3>

<SearchComponent OnValidSubmit="DrawTable"></SearchComponent>

@if (_filtersSet == true)
{
    <TrackingTableComponent></TrackingTableComponent>
}

@code {

    [CascadingParameter]
    public AppStateComponent? appStateComponent { get; set; }

    private bool _filtersSet { get; set; } = false;

    void DrawTable()
    {
        _filtersSet = true;
    }

    protected override async Task OnInitializedAsync()
    {
        if(appStateComponent.RequestedDateTime.Date == DateTime.Today.Date)
        {
            _filtersSet = true;
        }
    }
}