@page "/password/reset"

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h2>Password Reset</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your email address and a reset link will be sent to your email.</h5>

        <EditForm Model="_passwordResetRequest" OnValidSubmit="ResetPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email address</label>
                <InputText Id="email" class="form-control" @bind-Value="_passwordResetRequest.Email" />
                <ValidationMessage For="@(() => _passwordResetRequest.Email)" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {

    private PasswordResetRequest _passwordResetRequest = new();
    private bool ShowErrors;
    private IEnumerable<string>? Errors;

    private async Task ResetPassword()
    {
        ShowErrors = false;
        var result = await AuthService.ResetPassword(_passwordResetRequest);

        if(result.Successful)
        {
            NavigationManager.NavigateTo("/password/sent");
        }
        else
        {
            Errors = result.Errors;
            ShowErrors = true;
        }
    }
}
