@page "/registration/success"

<h3>Success!!</h3>

You have successfully registered your account. An email verification link has been sent to your email. You will have to verify your email before logging in.