@page "/profile"

<h3>User Profile</h3>

<hr />

<p class="m-3">
    <AuthorizeView>
        <strong>Username:</strong> @context.User.Identity.Name
    </AuthorizeView>
</p>

<p class="m-3">
    Click to <MudLink Href="/password/change">Change Password?</MudLink>
</p>
