@page "/projects/create/"

<div class="row mb-3">
    <div class="col-lg-9">
        <h3>
            <Icon Name="IconName.PlusCircle"></Icon>
            Create Project
        </h3>
    </div>
</div>

<CreateProjectComponent></CreateProjectComponent>