@page "/projects/create/"

<div class="row mb-3">
    <div class="col-lg-9">
        <h3>
            <MudIcon Icon="@Icons.Material.Filled.AddCircle" Size="Size.Large" Class="m-3" Color="Color.Success" />
            Create Project
        </h3>
    </div>
</div>

<CreateProjectComponent></CreateProjectComponent>