@page "/project/edit/{ProjectId:int}"

<div class="row mb-3">
    <div class="col-lg-9">
        <h3>
            <MudIcon Icon="@Icons.Material.Filled.Edit" Size="Size.Large" Class="m-3" Color="Color.Warning" />
            Edit Project
        </h3>
    </div>
</div>

<EditProjectComponent ProjectId="ProjectId"></EditProjectComponent>

@code{
    [Parameter]
    public int ProjectId { get; set; }
}
