@page "/project/{ProjectId:int}"

<div class="row">
    <div class="col col-md-8 col-sm-12">
        <ThreadListComponent ProjectId="@ProjectId"></ThreadListComponent>
    </div>
</div>

@code {

    [Parameter]
    public int ProjectId { get; set; }
    
}