@inject ToFromManager toFromManager

<FormFieldComponent LabelName="To/From">
    <ControlToRender>
        <InputSelect id="tofrom" @bind-Value="SelectedTofromId" class="form-control" @onchange="ChangeTofrom">
            <option value=0>-----</option>
            @foreach (var item in _toFromVms)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </InputSelect>
    </ControlToRender>
</FormFieldComponent>

@code {

    [Parameter]
    public EventCallback<int?> TofromIdChanged { get; set; }

    [Parameter]
    public int? SelectedTofromId { get; set; }

    private List<GenericListVm> _toFromVms = new();

    private async Task ChangeTofrom(ChangeEventArgs e)
    {
        SelectedTofromId = Convert.ToInt32(e.Value);
        await TofromIdChanged.InvokeAsync(SelectedTofromId);
    }

    protected override async Task OnInitializedAsync()
    {
        var toFroms = await toFromManager.GetAllAsync();
        _toFromVms = Mapping.Mapper.Map<List<GenericListVm>>(toFroms);
    }
}