@page "/pocs/create"

<h3>
    <div class="col-lg-9">
        <h3>
            <MudIcon Icon="@Icons.Material.Filled.AddCircle" Size="Size.Large" Class="m-3" />
            <MudIcon Icon="@Icons.Material.Outlined.AddCircle" Size="Size.Large" Class="m-3" />
            Add New POC
        </h3>
    </div>
</h3>

<CreatePocComponent></CreatePocComponent>
