@page "/pocs"

<h3>
    <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Medium" Class="m-3" />
    POC Management
</h3>
<div class="row">
    <div class="col col-md-8 col-sm-12">
        <PocListComponent></PocListComponent>
    </div>
</div>
