@*@inject ITrackingRepo _trackings*@
@inject NavigationManager _navigation

<span class="p2">Tracking # </span>
<div>@TrackingId</div>
<button @onclick="OnbuttonClicked">SEARCH</button>


@code {

    public string? TrackingId { get; set; }

    private async void OnbuttonClicked()
    {
        var lookup = TrackingId;
        TrackingId = "";
        await Task.Run(() => _navigation.NavigateTo("/tracking/" + lookup));
    }
}