@inject ITrackingRepo _trackings
@inject NavigationManager _navigation

<Span Padding="Padding.Is2">Tracking # </Span>
<TextEdit Width="Width.Is25" MaskType="MaskType.Numeric" @bind-Text="@TrackingId" Padding="Padding.Is2"></TextEdit>
<Button Color="Color.Primary" Clicked="@OnButtonClicked">SEARCH</Button>


@code {

    public string? TrackingId { get; set; }

    private async void OnButtonClicked()
    {
        var lookup = TrackingId;
        TrackingId = "";
        await Task.Run(() => _navigation.NavigateTo("/tracking/" + lookup));
    }
}