@inject ProjectManager projectManager
@inject NavigationManager _nav


<div class="row">
    <div class="col col-sm-12 col-md-6">
        <EditForm Model="@ProjectListVm" OnValidSubmit="@CreateProject">
            
            <FormFieldComponent LabelName="Project">
                <ControlToRender>
                    <InputText class="form-control" @bind-Value="ProjectListVm.Name" />
                </ControlToRender>
            </FormFieldComponent>
                           
            <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Size="Size.Small">Create</MudButton>
            <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Error" Link="/projects">Cancel</MudButton>
        </EditForm>
    </div>
</div>

@code {
    public ProjectListVm ProjectListVm { get; set; } = new();

    protected async Task CreateProject()
    {
        var project = Mapping.Mapper.Map<Project>(ProjectListVm);
        await projectManager.AddAsync(project);
        _nav.NavigateTo("/projects");
    }
}
