@inject ProjectManager projectManager
@inject NavigationManager _nav

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (ProjectVm != null)
        {
            <EditForm Model="@ProjectVm" OnValidSubmit="@UpdateProject">

                <FormFieldComponent LabelName="Topic">
                    <ControlToRender>
                        <InputText class="form-control" @bind-Value="ProjectVm.Name" />
                    </ControlToRender>
                </FormFieldComponent>

                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Size="Size.Small">Update</MudButton>
                <MudButton Link="/projects" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Cancel</MudButton>
            </EditForm>
        }
    </div>
</div>

@code {

    [Parameter]
    public int ProjectId { get; set; }

    public ProjectListVm ProjectVm { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var project = await projectManager.GetByIdAsync(ProjectId);
        ProjectVm = Mapping.Mapper.Map<ProjectListVm>(project);
    }
    protected async Task UpdateProject()
    {
        var project = Mapping.Mapper.Map<Project>(ProjectVm);
        await projectManager.UpdateAsync(project);
        _nav.NavigateTo("/projects");
    }

}