@page "/trackings/create/{ThreadId:int}"

<div class="row mb-3">
    <div class="col-lg-9">
        <h3>
            <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Large" Class="m-3" />
            Create Tracking
        </h3>
    </div>
</div>
<CreateTrackingComponent ThreadId="ThreadId" ></CreateTrackingComponent>

@code {

    [Parameter]
    public int ThreadId { get; set; }


}
