<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CTA.BlazorWasm</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Span Padding="Padding.Is2"><Icon Name="IconName.Home"></Icon></Span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <Span Padding="Padding.Is2"><Icon Name="IconName.ChartPie"></Icon></Span> Reports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <Span Padding="Padding.Is2"><Icon Name="IconName.Search"></Icon></Span> Search
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <Span Padding="Padding.Is2"><Icon Name="IconName.Adjust"></Icon></Span> Projects
            </NavLink>
        </div>

        <hr />
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <Span Padding="Padding.Is2"><Icon Name="IconName.Dashboard"></Icon></Span> Admin
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
