@page "/report/{EncodedString}"

<h3>
    <MudIcon Icon="@Icons.Material.Filled.List" Size="Size.Large" Class="m-3" />
    Report
</h3>

<TrackingReportComponent EncodedString="@EncodedString"></TrackingReportComponent>

@code {

    [Parameter]
    public string EncodedString { get; set; } = string.Empty;
    
}