@page "/threads/create/{projectId:int}"

<div class="row mb-3">
    <div class="col-lg-9">
        <h3>
            <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Large" Class="m-3" />
            Create Thread for Project# @ProjectId
        </h3>
    </div>
</div>

<CreateThreadComponent ProjectId="ProjectId"></CreateThreadComponent>

@code{

    [Parameter]
    public int ProjectId { get; set; }
}