@page "/thread/edit/{threadId:int}"

<div class="row mb-3">
    <div class="col-lg-9">
        <h3>
            <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Large" Class="m-3" />
            Edit Topic
        </h3>
    </div>
</div>

<EditThreadComponent ThreadId="ThreadId"></EditThreadComponent>

@code {

    [Parameter]
    public int ThreadId { get; set; }

}