@page "/thread/edit/{threadId:int}"

<h3>
    <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Large" Class="m-3" />
    Edit Topic
</h3>

<EditThreadComponent ThreadId="ThreadId"></EditThreadComponent>

@code {

    [Parameter]
    public int ThreadId { get; set; }

}