@page "/manage/threads/{ProjectId:int}"

<h3>
    <span>icon</span>
    Threads
</h3>

<ThreadListComponent ProjectId="@ProjectId"></ThreadListComponent>

@code {

    public int ProjectId { get; set; }

}
