@page "/manage/threads/{ProjectId:int}"

<h3>
    <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Large" Class="m-3" />
    Threads
</h3>

<ThreadListComponent ProjectId="@ProjectId"></ThreadListComponent>

@code {

    public int ProjectId { get; set; }

}
