@inject CorrespondenceTypeManager manager

<FormFieldComponent LabelName="Correspondence Type">
    <ControlToRender>
        <InputSelect ValueExpression="@(()=> SelectedCorrTypeId)" id="corrSelect" DisplayName="Correspondence Type" class="form-control" Value="SelectedCorrTypeId"
            ValueChanged="@((int? value) => ChangeCorrType(value))">
            <option value="0">-----</option>
            @foreach(var item in _corrTypeVms)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </InputSelect>
    </ControlToRender>
</FormFieldComponent>

@code {

    [Parameter]
    public EventCallback<int?> CorrTypeIdChanged { get; set; }

    [Parameter]
    public int? SelectedCorrTypeId { get; set; }

    [CascadingParameter]
    public AppStateComponent? appStateComponent { get; set; }

    private List<GenericListVm> _corrTypeVms = new();

    private async Task ChangeCorrType(int? value)
    {
        SelectedCorrTypeId = Convert.ToInt32(value);
        await CorrTypeIdChanged.InvokeAsync(SelectedCorrTypeId);
    }

    protected override async Task OnInitializedAsync()
    {
        var corrTypes = await manager.GetAllAsync();
        _corrTypeVms = Mapping.Mapper.Map<List<GenericListVm>>(corrTypes);
    }
    protected override async Task OnParametersSetAsync()
    {
        try
        {
            SelectedCorrTypeId = 
                appStateComponent.PaginationQuery.TrackingFilter.CorrTypeId != null 
                    ? appStateComponent.PaginationQuery.TrackingFilter.CorrTypeId : 0;
        }
        catch { }
    }
}