@inject CorrespondenceTypeManager manager

<FormFieldComponent LabelName="Correspondence Type">
    <ControlToRender>
        <InputSelect id="corrTypeSelect" class="form-control" @onchange="ChangeCorrType" @bind-Value="SelectedCorrTypeId">
            <option value="0">-----</option>
            @foreach(var item in _corrTypeVms)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </InputSelect>
    </ControlToRender>
</FormFieldComponent>

@code {

    [Parameter]
    public EventCallback<int?> CorrTypeIdChanged { get; set; }

    [Parameter]
    public int? SelectedCorrTypeId { get; set; }

    private List<GenericListVm> _corrTypeVms = new();

    private async Task ChangeCorrType(ChangeEventArgs e)
    {
        SelectedCorrTypeId = Convert.ToInt32(e.Value);
        await CorrTypeIdChanged.InvokeAsync(SelectedCorrTypeId);
    }

    protected override async Task OnInitializedAsync()
    {
        var corrTypes = await manager.GetAllAsync();
        _corrTypeVms = Mapping.Mapper.Map<List<GenericListVm>>(corrTypes);
    }
}