@inject IStatusRepo _repo

<FormFieldComponent LabelName="Status">
    <ControlToRender>
        <select id="statusSelect" name="statusId" class="custom-select" @onchange="ChangeStatus" >
            <option value=0>-----</option>
            @foreach(var item in _statusVms)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </ControlToRender>
</FormFieldComponent>

@code {

    [Parameter]
    public EventCallback<int?> StatusIdChanged { get; set; }

    private int? _selectedStatusId { get; set; }

    private List<GenericListVm> _statusVms = new();

    private async Task ChangeStatus(ChangeEventArgs e)
    {
        _selectedStatusId = Convert.ToInt32(e.Value);
        await StatusIdChanged.InvokeAsync(_selectedStatusId);
    }
    protected override async Task OnInitializedAsync()
    {
        var statuss = await _repo.GetAllAsync();
        _statusVms = Mapping.Mapper.Map<List<GenericListVm>>(statuss);
    }
}