@inject StatusManager statusManager

<FormFieldComponent LabelName="Status">
    <ControlToRender>
        <InputSelect id="statusSelect" class="form-control" @onchange="ChangeStatus" @bind-Value="SelectedStatusId">
            <option value="0">-----</option>
            @foreach (var item in _statusVms)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </InputSelect>
    </ControlToRender>
</FormFieldComponent>

@code {

    [Parameter]
    public EventCallback<int?> StatusIdChanged { get; set; }

    [Parameter]
    public int? SelectedStatusId { get; set; }

    private List<GenericListVm> _statusVms = new();

    private async Task ChangeStatus(ChangeEventArgs e)
    {
        SelectedStatusId = Convert.ToInt32(e.Value);
        await StatusIdChanged.InvokeAsync(SelectedStatusId);
    }
    protected override async Task OnInitializedAsync()
    {
        var statuss = await statusManager.GetAllAsync();
        _statusVms = Mapping.Mapper.Map<List<GenericListVm>>(statuss);
    }
}